<!DOCTYPE html>
<html>
<head>
  <title>Lights | jdabbs.com</title>
  <%= stylesheet_link_tag '//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' %>
  <%= javascript_include_tag '//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="no-js alert alert-danger">
    <h2><i class="glyphicon glyphicon-remove-sign"></i> Uh-oh ...</h2>
    <p>This app needs javascript enabled to work correctly. See <a href="http://enable-javascript.com/">this page</a> for more info.</p>
  </div>

  <%= yield %>
</div>

</body>
</html>
